.ogent-chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .ogent-chat-history {
    display: flex;
    flex-direction: column;
    gap: var(--size-4-6);
    overflow-y: auto;
    flex: 1;
    user-select: text;

    > .ogent-user-message {
      width: 80%;
      padding: var(--size-4-6);
      border-radius: var(--callout-radius);
      margin-left: auto;
      margin-right: 0;
      background-color: color-mix(
        in srgb,
        var(--interactive-accent) 30%,
        transparent
      );

      & > :first-child {
        margin-top: 0;
      }
      & > :last-child {
        margin-bottom: 0;
      }
    }
  }

  .ogent-input-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-4-3);

    > textarea {
      width: 100%;
      min-height: 5rem;
      resize: block;
    }
  }
}

.ogent-toolset-title {
  display: inline-block;
}

.setting-item-sub {
  margin-left: 1.5rem;
}
